.gitignore

# Sorting

Sorting/.idea
Sorting/binarySearch/bin
Sorting/binarySearch/obj

Sorting/combSort/bin
Sorting/combSort/obj

Sorting/heapSort/bin
Sorting/heapSort/obj

Sorting/insertionSort/bin
Sorting/insertionSort/obj

Sorting/mergeSort/bin
Sorting/mergeSort/obj

Sorting/polyPhaseMerge/bin
Sorting/polyPhaseMerge/obj

Sorting/quickSort/bin
Sorting/quickSort/obj

Sorting/radixSort/bin
Sorting/radixSort/obj

Sorting/selectionSort/bin
Sorting/selectionSort/obj

Sorting/shellSort/bin
Sorting/shellSort/obj

#HashTable

HashTable/.idea

HashTable/ChainedHash/bin
HashTable/ChainedHash/obj

HashTable/OpenAddressingHash/bin
HashTable/OpenAddressingHash/obj

#Trees

Trees/.idea

Trees/StackBT/bin
Trees/StackBT/obj

Trees/RecursionBT/bin
Trees/RecursionBT/obj

Trees/OperationsForBT/bin
Trees/OperationsForBT/obj

# Graphs:

Graphs/.idea
Graphs/.vs

Graphs/BreadthAndDepth-FirstSearch/bin
Graphs/BreadthAndDepth-FirstSearch/obj

Graphs/ShortestPaths/bin
Graphs/ShortestPaths/obj

# NP-completeness:

NP-completeness/.idea
NP-completeness/.vs

NP-completeness/TaskAboutBackpack/bin
NP-completeness/TaskAboutBackpack/obj











